* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
}
h1,h3 {
  color: #FFF !important; /* Change the text color to red (or your desired color) */
}
.hero-section{
  max-width: 100%;
  height: 500px;
  background-image: url("/images/home.svg");
  background-size: cover;
background-repeat: no-repeat;
background-position: center center;


 

 
}
.navbar {
  background-color: transparent !important;
}

.navbar-nav {
  margin-left: auto;
}
.navbar-nav .nav-item {
  padding-right: 20px;
}


.navbar-transparent {
  background-color: transparent;
}
.navbar-brand {
  color: white; /* Change the color of the logo text */
}
.navbar-nav {
  margin-left: auto;
}
.navbar-nav .nav-item {
  padding-right: 20px;
}
.navbar-light .navbar-nav .nav-link {
  color: #FFFF; /* Change the text color to red (or your desired color) */
}
.home-text{
  padding: 50px 20px 20px 50px;
}
.btn-basic{
  background: #E0B100;
  color:#FFF;
  border: none;
  border-radius: 24px;
  

}
.btn-basic:hover{
  opacity:0.7;
}
.book{
  background: #E0B100;
  color:#FFF;
  border: none;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  width: 198px;
  height: 48px;
  margin-top: 15px;
}
.book:hover{
  opacity: 0.7;

}
.book-flight-container{
  padding: 0 40px 0 40px;
}
.tab-wrapper{
  background-color: #f2f3fa;
  border-radius: 12px;
  width: 100%;
  position: relative;
  bottom: 45px;
 
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #E0B100;
}
@media (max-width: 768px) {
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    
    font-size: 8px !important;
  }
  .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
   
    font-size: 8px !important;
  }
}
.css-1aquho2-MuiTabs-indicator {
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #E0B100;
}
.show-flight{
  background: #E0B100;
  color:#FFF;
  border: none;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  width: 198px;
  height: 48px;
  margin-top: 15px;
 


}
.show-flight:hover{
  opacity: 0.7
}
.flight-wrapper{
  display: flex;
  justify-content: center;



}
.top-destination-wrapper{
  padding-top: 70px;
}
.top-destination-text{
  text-align: center;
  margin-bottom: 10px;
}
.image-card{
  max-width: 300px;

  img{
    width: 100%;
  }
}

.card-text{
  padding-top: 15px;
}
.capital{
  font-size: 12px;
}
.country{
  color:#E0B100;
  font-weight: bold;
}
.price{
  font-weight: bold;
}
.services-wrapper{
  padding-top: 50px;
  padding-bottom: 45px;
}
.itemize{
  font-weight: 700;
}
.heading-text{
  font-weight: 700;
  font-size: 18px;

}
.contain{
  float: right;
}
.learn-more{
  width: 120px;
  height: 32px;
  float: right;
}
.carousel .carousel-inner img {
  height: 80vh; /* Set your desired height here */
  object-fit: cover; /* Preserve aspect ratio and fill container */
}
.subscribe-section{
  padding: 60px 45px 60px 45px;
  margin-bottom:15px;
}
.subscribe-box{
  width: 100%;
  background-color: #E0B100;
  border-radius: 12px;
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  padding-bottom: 40px 25px 40px 20px;
}
.subscribe-content{
  padding: 30px 50px 30px 50px;
  text-align: center;
}
.search-bar {
  
  border-radius: 30px;
  display: flex;
  align-items: center;
 width: 200px;
  height: 35px;
  background: #FFF;
  padding: 0 10px;
  margin: auto
  
}
.search-bar > input{
  border: none !important;
  outline: none !important;
  width: 150px;
  
  

}
.btn-subscribe{

  background: transparent;
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 24px;
  width: 120PX;
  height: 48px;
}
.btn-subscribe:hover{
  color: #5c5c5e;
  border: 1px solid #5c5c5e
}
@media (max-width: 578px) {
  .tab-two{
    display: flex !important;
    flex-direction: column !important;
    gap: 10px;
  }
}
.retrieve-btn-wrapper{
  text-align: center;
}
.btn-retrieve{
  background: #E0B100;
  color: #FFF;
  border: none;
  border-radius: 24px;
  height: 48px;
  padding: 10px 20px;
  justify-content: center;

}
.btn-retrieve:hover{
  opacity:0.7;
}

.footer{
  width: 100%;
  height: 100px;
  background-color: #5c5c5e;
  padding: 30px 50px 30px 50px;
  text-align: center;
}
.foot{
  color: #FFF
}